.react-flow__attribution {
    display: none;
}
.react-flow__edge-path {
    stroke-width: 2;
}
.react-flow__handle {
    opacity: 0;
}
.react-flow__edge path {
    stroke: #A5B4FC;
}
@import 'assets/scss/app.scss'